http-proxy=http://proxy.micron.com:8080
https-proxy=http://proxy.micron.com:8080/
proxy=http://proxy.micron.com:8080/
strict-ssl=false
registry=https://boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev/
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev/:_password=QVA2RmV0dktVRTljdFhhNFN6WXExZnVIcHhz
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev/:username=jpitkin
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev/:email=JPITKIN@IMFLASH.COM
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev/:always-auth=true
@micron:registry=https://boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev-local/
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev-local/:_password=QVA2RmV0dktVRTljdFhhNFN6WXExZnVIcHhz
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev-local/:username=jpitkin
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev-local/:email=JPITKIN@IMFLASH.COM
//boartifactorydev.micron.com/artifactory/api/npm/zplay-npm-everyone-dev-local/:always-auth=true
@devall:registry=https://boartifactory.micron.com/artifactory/api/npm/micron-npm/
//boartifactory.micron.com/artifactory/api/npm/micron-npm/:_password=QVA2RmV0dktVRTljdFhhNFN6WXExZnVIcHhz
//boartifactory.micron.com/artifactory/api/npm/micron-npm/:username=jpitkin
//boartifactory.micron.com/artifactory/api/npm/micron-npm/:email=JPITKIN@IMFLASH.COM
//boartifactory.micron.com/artifactory/api/npm/micron-npm/:always-auth=true
@f2op:registry=https://boartifactory.micron.com/artifactory/api/npm/mfgimft-npm-dev/
//boartifactory.micron.com/artifactory/api/npm/mfgimft-npm-dev/:_password=QVA2RmV0dktVRTljdFhhNFN6WXExZnVIcHhz
//boartifactory.micron.com/artifactory/api/npm/mfgimft-npm-dev/:username=jpitkin
//boartifactory.micron.com/artifactory/api/npm/mfgimft-npm-dev/:email=JPITKIN@IMFLASH.COM
//boartifactory.micron.com/artifactory/api/npm/mfgimft-npm-dev/:always-auth=true
