packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-ternjs"
  "autocomplete-modules"
  "bottom-dock"
  "busy-signal"
  "cursor-history"
  "es6-javascript"
  "file-icons"
  "format-standard"
  "git-diff-details"
  "git-plus"
  "intentions"
  "javascript-snippets"
  "key-peek"
  "keybinding-cheatsheet"
  "language-babel"
  "language-markdown"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "merge-conflicts"
  "monokai"
  "one-o-eight-syntax"
  "package-list"
  "package-sync"
  "pubster-syntax"
  "tab-switcher"
  "todo-manager"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
