[core]
    editor = vim
	autocrlf = input
[user]
    name = Josh Pitkin (jpitkin)
    email = jpitkin@micron.com
[url "http://"]
	insteadOf = git://
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true